aiohttp~=3.9.3
attrs==21.2.0
beautifulsoup4~=4.13.4
discord.py==2.5.2
Pillow==10.2.0
pymongo==4.6.2
requests~=2.31.0
urllib3==2.2.1
charset-normalizer~=3.3.2
python-dotenv~=1.0.1
tweepy~=4.14.0
atproto~=0.0.56
moviepy~=2.1.1
psutil~=7.0.0
objgraph~=3.6.2
lxml~=6.0.0
Flask~=3.0.0